<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test">
    <test name="Xyz_Bank">
        <classes>
            <class name="Test_Cases.Customer_Deposit"/>
            <class name="Test_Cases.Customer_Transactions"/>
        </classes>
    </test>
</suite>